<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
     version="2.5">

    <!-- ========================================================== -->
    <!-- General -->
    <!-- ========================================================== -->

    <display-name>Paradisum - Real Estate Crime Mapper</display-name>
    <description>An application which combines realestate data and crime data.</description>

    <!-- ========================================================== -->
    <!-- Context Parameters -->
    <!-- ========================================================== -->

    <context-param>
            <description>Enable debugging for the application</description>
            <param-name>debug</param-name>
            <param-value>true</param-value>
    </context-param>

    <!-- ========================================================== -->
    <!-- Servlets -->
    <!-- ========================================================== -->

    <servlet>
            <servlet-name>ShowProperty</servlet-name>
            <servlet-class>ShowProperty</servlet-class>
            <description>Shows the property screen</description>
    </servlet>
    <servlet-mapping>
            <servlet-name>ShowProperty</servlet-name>
            <url-pattern>/ShowProperty</url-pattern>
    </servlet-mapping>

    <!-- ========================================================== -->
    <!-- Error Handlers -->
    <!-- ========================================================== -->

    <!-- Define an error handler for 404 pages -->
    <error-page>
            <error-code>404</error-code>
            <location>/error404.jsp</location>
    </error-page>

    <!-- Define an error handler for java.lang.Throwable -->
    <error-page>
            <exception-type>java.lang.Throwable</exception-type>
            <location>/errorThrowable.jsp</location>
    </error-page>

    <!-- ========================================================== -->
    <!-- Welcome Files -->
    <!-- ========================================================== -->

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
